/* style.css */

/* Reseta algumas configurações padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Animação para o botão */
#btnSaberMais {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnSaberMais:hover {
    background-color: #45a049;
}

/* Cabeçalho fixo */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #f0a500; /* Mudança de cor ao passar o mouse */
}

/* Adiciona espaçamento superior para o conteúdo, já que o cabeçalho é fixo */
main {
    margin-top: 80px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header nav ul {
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        margin-top: 100px;
    }

    section {
        padding: 20px;
    }
}

/* Animação de Fade In */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animação para o botão de envio */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button[type="submit"]:hover {
    transform: scale(1.1); /* Efeito de ampliação ao passar o mouse */
}

/* Estilo para campos de formulário com erro */
input.erro, textarea.erro {
    border: 2px solid red;
}
